$Black: rgb(5, 5, 5);
$White: rgb(240, 240, 240);
$Grey: rgb(186, 201, 195);
$GreyDarker: rgb(135, 145, 141);
$PurpleGrey: rgb(117, 101, 124);
$PurpleDarker: rgb(43, 11, 50);
$Gold: rgb(245, 205, 115);
$Red: rgb(199, 18, 18);
$Green: rgb(3, 149, 8);
$Darked: rgba(15, 15, 15, 0.5);
$DarkedLight: rgba(15, 15, 15, 0.2);
$title-font: "Kiona";
$text-font: "Rounded_Elegance";

.skatedice-ctn {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .skatedice-title {
    color: $PurpleDarker;
    margin: 25px 0;
  }

  .dices {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
  }

  .flips-div {
    background-image: url("../../../../Assets/Images/De1.png");
  }
  .shoveit-div {
    background-image: url("../../../../Assets/Images/De2.png");
  }
  .rotation-div {
    background-image: url("../../../../Assets/Images/De3.png");
  }
  .stance-div {
    background-image: url("../../../../Assets/Images/De4.png");
  }
  .direction-div {
    background-image: url("../../../../Assets/Images/De5.png");
  }

  .flips-div,
  .shoveit-div,
  .rotation-div,
  .stance-div,
  .direction-div {
    width: 125px;
    height: 125px;
    margin: 5px;
    background-size: cover;

    p {
      margin-top: 40px;
      font-weight: bolder;
      color: $White;
      text-align: center;
      text-shadow: 1px 1px 1px $Black;
    }
  }

  button {
    width: 200px;
    margin: auto;
    color: $White;
    padding: 15px 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 10px;
    border: none;
    border-radius: 30px;
    background: radial-gradient(circle, $PurpleGrey, $PurpleDarker);
    border: 1px solid $PurpleDarker;
    cursor: pointer;
  }

  .shake {
    animation: Shake 0.25s;
  }

  @keyframes Shake {
    0% {
      transform: rotate(10deg);
    }
    33% {
      transform: rotate(-10deg);
    }
    66% {
      transform: rotate(8deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .skatedice-rule {
    width: 80%;
    p {
      margin-bottom: 15px;
    }
  }

  .mauve {
    background-color: $PurpleGrey;
  }
  .jaune {
    background-color: $Gold;
  }
  .vert {
    background-color: $Green;
  }
  .noir {
    background-color: $Black;
    color: $White;
  }
  .rouge {
    background-color: $Red;
    color: $White;
  }
}
