@font-face {
  font-family: "Kiona";
  src: url("../Assets/Font/Kiona-Regular.ttf");
}
@font-face {
  font-family: "Rounded_Elegance";
  src: url("../Assets/Font/Rounded_Elegance.ttf");
}
@media screen and (min-width: 426px) {
  /* HOME */
  .home-title {
    margin: 30px 0 100px 0;
  }
  .sentence {
    letter-spacing: 10px;
    margin-top: 70px;
  }
  /* HOC */
  /* Galeries (pasges publiques) -- MyTracker (compte utilisateur) */
  .galery-ctn .trickslist-list,
  .galery-ctn .mytrickslist-ctn,
  .trickslist-ctn .trickslist-list,
  .trickslist-ctn .mytrickslist-ctn,
  .form-ctn .trickslist-list,
  .form-ctn .mytrickslist-ctn,
  .mytracker-ctn .trickslist-list,
  .mytracker-ctn .mytrickslist-ctn {
    background-position: -50px 0;
  }
  .galery-ctn .trickslist-nav,
  .galery-ctn .mytracker-nav,
  .trickslist-ctn .trickslist-nav,
  .trickslist-ctn .mytracker-nav,
  .form-ctn .trickslist-nav,
  .form-ctn .mytracker-nav,
  .mytracker-ctn .trickslist-nav,
  .mytracker-ctn .mytracker-nav {
    flex-direction: row;
    justify-content: center;
  }
  .galery-ctn .trickslist-nav button,
  .galery-ctn .mytracker-nav button,
  .trickslist-ctn .trickslist-nav button,
  .trickslist-ctn .mytracker-nav button,
  .form-ctn .trickslist-nav button,
  .form-ctn .mytracker-nav button,
  .mytracker-ctn .trickslist-nav button,
  .mytracker-ctn .mytracker-nav button {
    width: auto;
  }
  .galery-ctn .trickslist-list h3,
  .galery-ctn .mytracker h3,
  .galery-ctn .mytrickslist-ctn h3,
  .trickslist-ctn .trickslist-list h3,
  .trickslist-ctn .mytracker h3,
  .trickslist-ctn .mytrickslist-ctn h3,
  .form-ctn .trickslist-list h3,
  .form-ctn .mytracker h3,
  .form-ctn .mytrickslist-ctn h3,
  .mytracker-ctn .trickslist-list h3,
  .mytracker-ctn .mytracker h3,
  .mytracker-ctn .mytrickslist-ctn h3 {
    text-align: left;
    margin: 15px 0 15px 0;
  }
  .galery-ctn .trickslist-list .list,
  .galery-ctn .mytracker .list,
  .galery-ctn .mytrickslist-ctn .list,
  .trickslist-ctn .trickslist-list .list,
  .trickslist-ctn .mytracker .list,
  .trickslist-ctn .mytrickslist-ctn .list,
  .form-ctn .trickslist-list .list,
  .form-ctn .mytracker .list,
  .form-ctn .mytrickslist-ctn .list,
  .mytracker-ctn .trickslist-list .list,
  .mytracker-ctn .mytracker .list,
  .mytracker-ctn .mytrickslist-ctn .list {
    margin: 0 0 14px 100px;
  }
  .galery-ctn .galery figure,
  .galery-ctn .mytracker figure,
  .trickslist-ctn .galery figure,
  .trickslist-ctn .mytracker figure,
  .form-ctn .galery figure,
  .form-ctn .mytracker figure,
  .mytracker-ctn .galery figure,
  .mytracker-ctn .mytracker figure {
    display: flex;
  }
  .galery-ctn .galery figure figcaption,
  .galery-ctn .mytracker figure figcaption,
  .trickslist-ctn .galery figure figcaption,
  .trickslist-ctn .mytracker figure figcaption,
  .form-ctn .galery figure figcaption,
  .form-ctn .mytracker figure figcaption,
  .mytracker-ctn .galery figure figcaption,
  .mytracker-ctn .mytracker figure figcaption {
    width: 50%;
    padding: 15px;
    padding-top: 50px;
  }
  .galery-ctn .galery figure figcaption p,
  .galery-ctn .mytracker figure figcaption p,
  .trickslist-ctn .galery figure figcaption p,
  .trickslist-ctn .mytracker figure figcaption p,
  .form-ctn .galery figure figcaption p,
  .form-ctn .mytracker figure figcaption p,
  .mytracker-ctn .galery figure figcaption p,
  .mytracker-ctn .mytracker figure figcaption p {
    text-align: center;
    margin: 10px auto;
  }
  .galery-ctn .galery-video,
  .galery-ctn .slider-video,
  .galery-ctn .myvideo,
  .trickslist-ctn .galery-video,
  .trickslist-ctn .slider-video,
  .trickslist-ctn .myvideo,
  .form-ctn .galery-video,
  .form-ctn .slider-video,
  .form-ctn .myvideo,
  .mytracker-ctn .galery-video,
  .mytracker-ctn .slider-video,
  .mytracker-ctn .myvideo {
    width: 50%;
    height: auto;
    max-height: 450px;
  }
}/*# sourceMappingURL=App-tablet.css.map */