@font-face {
  font-family: "Kiona";
  src: url("../Assets/Font/Kiona-Regular.ttf");
}
@font-face {
  font-family: "Rounded_Elegance";
  src: url("../Assets/Font/Rounded_Elegance.ttf");
}
/* GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  font-family: "Rounded_Elegance";
  font-size: 16px;
  background-image: url("../Assets/Images/TextureBeton.jpg");
  background-size: 100%;
  color: rgb(5, 5, 5);
}

main {
  min-height: 60vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kiona";
}

.msg {
  text-align: center;
  margin-bottom: 25px;
}

.advise {
  text-align: center;
}

.advise_top {
  margin-top: 25px;
}

.red {
  color: rgb(199, 18, 18) !important;
}

.green {
  color: rgb(3, 149, 8) !important;
}

.purple {
  color: rgb(43, 11, 50) !important;
}

.gold {
  color: rgb(245, 205, 115) !important;
}

.static {
  position: static !important;
  transform: translate(0) !important;
  margin: 0 !important;
}

.overline {
  background: radial-gradient(circle, rgb(240, 240, 240), rgb(186, 201, 195));
  padding: 0 5px;
}

.toast-message {
  width: 190px;
  background: linear-gradient(50deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 90.71%), linear-gradient(200deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 30.71%), linear-gradient(127deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 70.71%), linear-gradient(336deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 95.71%) !important;
  color: rgb(240, 240, 240) !important;
}
.toast-message .my-toast-body {
  padding: 0 25px;
}
.toast-message button {
  width: 30px;
  height: 30px;
  color: rgb(240, 240, 240);
  background: transparent !important;
  border: none !important;
}
.toast-message .my-toast-progress-bar {
  background-color: transparent !important;
}

.hidden {
  display: none;
}

/* HOME */
.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-image {
  width: 300px;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -40%);
  transform-origin: 200px 100px;
  z-index: 1;
}

.home-title {
  color: rgb(240, 240, 240);
  font-size: 40px;
  text-align: center;
  margin: 50px 0 150px 0;
  background: radial-gradient(circle, rgb(117, 101, 124), rgb(43, 11, 50));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 20;
}

.home-text {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 25;
  font-family: "Kiona";
}

.sentence {
  font-size: 20px;
  margin-top: 100px;
}

.home-button {
  width: 200px;
  margin: 0 auto;
  padding: 15px 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: none;
  border-radius: 30px;
  color: rgb(240, 240, 240);
  background: linear-gradient(50deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 90.71%), linear-gradient(200deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 30.71%), linear-gradient(127deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 70.71%), linear-gradient(336deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 95.71%);
}

.home-button:hover {
  background: rgb(43, 11, 50);
}

.button_ctn,
button {
  text-decoration: none;
  width: 200px;
  margin: auto;
  padding: 15px 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 10px;
  border: none;
  border-radius: 30px;
  color: rgb(240, 240, 240);
  cursor: pointer;
}
.button_ctn a,
button a {
  color: rgb(240, 240, 240) !important;
}

.logs-login,
.update,
button {
  background: linear-gradient(50deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 90.71%), linear-gradient(200deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 30.71%), linear-gradient(127deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 70.71%), linear-gradient(336deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 95.71%);
  border: 1px solid rgb(43, 11, 50);
}

.logs-profil {
  background: linear-gradient(50deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 90.71%), linear-gradient(200deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 30.71%), linear-gradient(127deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 70.71%), linear-gradient(336deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 95.71%);
  margin-bottom: 25px;
}

.logs-logout {
  background: none;
  border: 1px solid rgb(240, 240, 240);
}
.logs-logout a {
  color: rgb(43, 11, 50) !important;
}

.logs-login:hover,
.logs-profil:hover,
button:hover {
  background: rgb(43, 11, 50);
  border: 1px solid rgb(43, 11, 50);
}

.logs-logout:hover {
  border: 1px solid rgb(117, 101, 124);
}

/* HOC */
header {
  width: 100%;
  height: 75px;
  margin-bottom: 25px;
}
header .header-ctn {
  width: 100%;
  position: relative;
}
header .header-ctn .logo-div {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  z-index: 10;
}
header .header-ctn .logo-div .header-img {
  width: 75px;
  margin-top: 5px;
}
header .header-ctn .menu-name-title {
  font-size: 20px;
  margin: 0 25px;
}
header .header-ctn .faBars,
header .header-ctn .faXmark {
  height: 20px;
  cursor: pointer;
}
header .header-ctn .nav-ctn {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 20;
}
header .header-ctn .nav-ctn .menu-ctn-closed,
header .header-ctn .nav-ctn .menu-ctn-open {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 35px 25px 25px;
  z-index: 20;
}
header .header-ctn .nav-ctn .menu-ctn-open {
  background-color: rgb(240, 240, 240);
}
header .header-ctn .nav-ctn nav {
  width: 100vw;
  height: 90vh;
  padding: 25px;
  background-color: rgb(240, 240, 240);
}
header .header-ctn .nav-ctn nav .links {
  display: flex;
  flex-direction: column;
}
header .header-ctn .nav-ctn nav .links .special-Navlink {
  position: relative;
}
header .header-ctn .nav-ctn nav .links .special-Navlink span {
  position: absolute;
  bottom: -20px;
  left: 50%;
  font-size: 12px;
  font-weight: bolder;
  padding: 3px 6px;
  color: rgb(240, 240, 240);
  background-color: rgb(255, 94, 0);
}
header .header-ctn .nav-ctn nav div,
header .header-ctn .nav-ctn nav a {
  font-family: "Kiona";
  text-align: center;
  margin-bottom: 25px;
  color: rgb(5, 5, 5);
}
header .header-ctn .nav-ctn .burger_hidden {
  display: none;
}
header .header-ctn .nav-ctn .mediaQ_show-laptop_desktop {
  display: none;
}
header .header-ctn .nav-ctn .mediaQ_show-mobile_tablet {
  display: block;
}

footer {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: flex-end;
}
footer a {
  margin: 0 25px;
}

/* Galeries (pages publiques) -- MyTracker (compte utilisateur) */
.galery-ctn,
.trickslist-ctn,
.form-ctn,
.mytracker-ctn,
.legal-ctn {
  width: 80%;
  margin: 0 auto 25px auto;
}
.galery-ctn .galery-title,
.galery-ctn .trickslist-title,
.galery-ctn .form-title,
.galery-ctn .mytracker-title,
.galery-ctn .legal-title,
.trickslist-ctn .galery-title,
.trickslist-ctn .trickslist-title,
.trickslist-ctn .form-title,
.trickslist-ctn .mytracker-title,
.trickslist-ctn .legal-title,
.form-ctn .galery-title,
.form-ctn .trickslist-title,
.form-ctn .form-title,
.form-ctn .mytracker-title,
.form-ctn .legal-title,
.mytracker-ctn .galery-title,
.mytracker-ctn .trickslist-title,
.mytracker-ctn .form-title,
.mytracker-ctn .mytracker-title,
.mytracker-ctn .legal-title,
.legal-ctn .galery-title,
.legal-ctn .trickslist-title,
.legal-ctn .form-title,
.legal-ctn .mytracker-title,
.legal-ctn .legal-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
}
.galery-ctn .legal-titleb,
.trickslist-ctn .legal-titleb,
.form-ctn .legal-titleb,
.mytracker-ctn .legal-titleb,
.legal-ctn .legal-titleb {
  margin: 25px 0 15px 0;
}
.galery-ctn .galery,
.galery-ctn .mytracker-galery,
.galery-ctn form,
.trickslist-ctn .galery,
.trickslist-ctn .mytracker-galery,
.trickslist-ctn form,
.form-ctn .galery,
.form-ctn .mytracker-galery,
.form-ctn form,
.mytracker-ctn .galery,
.mytracker-ctn .mytracker-galery,
.mytracker-ctn form,
.legal-ctn .galery,
.legal-ctn .mytracker-galery,
.legal-ctn form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.galery-ctn .galery div,
.galery-ctn .mytracker-galery div,
.trickslist-ctn .galery div,
.trickslist-ctn .mytracker-galery div,
.form-ctn .galery div,
.form-ctn .mytracker-galery div,
.mytracker-ctn .galery div,
.mytracker-ctn .mytracker-galery div,
.legal-ctn .galery div,
.legal-ctn .mytracker-galery div {
  width: 100%;
  margin-bottom: 25px;
  box-shadow: 0px 0px 5px rgb(135, 145, 141);
}
.galery-ctn .galery figure,
.galery-ctn .mytracker figure,
.trickslist-ctn .galery figure,
.trickslist-ctn .mytracker figure,
.form-ctn .galery figure,
.form-ctn .mytracker figure,
.mytracker-ctn .galery figure,
.mytracker-ctn .mytracker figure,
.legal-ctn .galery figure,
.legal-ctn .mytracker figure {
  background: linear-gradient(50deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 90.71%), linear-gradient(200deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 30.71%), linear-gradient(127deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 70.71%), linear-gradient(336deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 95.71%);
  background-size: cover;
}
.galery-ctn .galery figure figcaption,
.galery-ctn .mytracker figure figcaption,
.trickslist-ctn .galery figure figcaption,
.trickslist-ctn .mytracker figure figcaption,
.form-ctn .galery figure figcaption,
.form-ctn .mytracker figure figcaption,
.mytracker-ctn .galery figure figcaption,
.mytracker-ctn .mytracker figure figcaption,
.legal-ctn .galery figure figcaption,
.legal-ctn .mytracker figure figcaption {
  padding: 15px;
}
.galery-ctn .galery figure figcaption p,
.galery-ctn .mytracker figure figcaption p,
.trickslist-ctn .galery figure figcaption p,
.trickslist-ctn .mytracker figure figcaption p,
.form-ctn .galery figure figcaption p,
.form-ctn .mytracker figure figcaption p,
.mytracker-ctn .galery figure figcaption p,
.mytracker-ctn .mytracker figure figcaption p,
.legal-ctn .galery figure figcaption p,
.legal-ctn .mytracker figure figcaption p {
  text-align: center;
  margin: 10px auto;
  color: rgb(245, 205, 115);
}
.galery-ctn .galery figure figcaption button,
.galery-ctn .mytracker figure figcaption button,
.trickslist-ctn .galery figure figcaption button,
.trickslist-ctn .mytracker figure figcaption button,
.form-ctn .galery figure figcaption button,
.form-ctn .mytracker figure figcaption button,
.mytracker-ctn .galery figure figcaption button,
.mytracker-ctn .mytracker figure figcaption button,
.legal-ctn .galery figure figcaption button,
.legal-ctn .mytracker figure figcaption button {
  width: 100px;
  padding: 0;
  font-size: 16px;
  display: block;
  color: rgb(255, 94, 0);
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
.galery-ctn .galery_end,
.trickslist-ctn .galery_end,
.form-ctn .galery_end,
.mytracker-ctn .galery_end,
.legal-ctn .galery_end {
  text-align: center;
  line-height: 30px;
  margin: 5px 0;
}
.galery-ctn .galery-video,
.galery-ctn .myvideo,
.trickslist-ctn .galery-video,
.trickslist-ctn .myvideo,
.form-ctn .galery-video,
.form-ctn .myvideo,
.mytracker-ctn .galery-video,
.mytracker-ctn .myvideo,
.legal-ctn .galery-video,
.legal-ctn .myvideo {
  width: 100%;
  height: auto;
  max-height: 550px;
  background-color: rgb(5, 5, 5);
}
.galery-ctn .video-comment,
.trickslist-ctn .video-comment,
.form-ctn .video-comment,
.mytracker-ctn .video-comment,
.legal-ctn .video-comment {
  width: 100%;
}
.galery-ctn .video-comment .last-comment,
.trickslist-ctn .video-comment .last-comment,
.form-ctn .video-comment .last-comment,
.mytracker-ctn .video-comment .last-comment,
.legal-ctn .video-comment .last-comment {
  width: 85%;
  padding: 5px;
  color: rgb(240, 240, 240);
  cursor: pointer;
}
.galery-ctn .video-comment .input-div,
.galery-ctn .video-comment .comment-btn-div,
.trickslist-ctn .video-comment .input-div,
.trickslist-ctn .video-comment .comment-btn-div,
.form-ctn .video-comment .input-div,
.form-ctn .video-comment .comment-btn-div,
.mytracker-ctn .video-comment .input-div,
.mytracker-ctn .video-comment .comment-btn-div,
.legal-ctn .video-comment .input-div,
.legal-ctn .video-comment .comment-btn-div {
  width: 85%;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: none;
}
.galery-ctn .video-comment .input-div textarea,
.galery-ctn .video-comment .comment-btn-div textarea,
.trickslist-ctn .video-comment .input-div textarea,
.trickslist-ctn .video-comment .comment-btn-div textarea,
.form-ctn .video-comment .input-div textarea,
.form-ctn .video-comment .comment-btn-div textarea,
.mytracker-ctn .video-comment .input-div textarea,
.mytracker-ctn .video-comment .comment-btn-div textarea,
.legal-ctn .video-comment .input-div textarea,
.legal-ctn .video-comment .comment-btn-div textarea {
  width: 100%;
  height: 45px;
  margin: 0;
  padding-right: 40px;
}
.galery-ctn .video-comment .input-div button,
.galery-ctn .video-comment .comment-btn-div button,
.trickslist-ctn .video-comment .input-div button,
.trickslist-ctn .video-comment .comment-btn-div button,
.form-ctn .video-comment .input-div button,
.form-ctn .video-comment .comment-btn-div button,
.mytracker-ctn .video-comment .input-div button,
.mytracker-ctn .video-comment .comment-btn-div button,
.legal-ctn .video-comment .input-div button,
.legal-ctn .video-comment .comment-btn-div button {
  width: auto;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  color: rgb(43, 11, 50);
}
.galery-ctn .video-comment .input-div .commentpicto,
.galery-ctn .video-comment .comment-btn-div .commentpicto,
.trickslist-ctn .video-comment .input-div .commentpicto,
.trickslist-ctn .video-comment .comment-btn-div .commentpicto,
.form-ctn .video-comment .input-div .commentpicto,
.form-ctn .video-comment .comment-btn-div .commentpicto,
.mytracker-ctn .video-comment .input-div .commentpicto,
.mytracker-ctn .video-comment .comment-btn-div .commentpicto,
.legal-ctn .video-comment .input-div .commentpicto,
.legal-ctn .video-comment .comment-btn-div .commentpicto {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.galery-ctn .video-comment .comment-btn-div button,
.trickslist-ctn .video-comment .comment-btn-div button,
.form-ctn .video-comment .comment-btn-div button,
.mytracker-ctn .video-comment .comment-btn-div button,
.legal-ctn .video-comment .comment-btn-div button {
  margin-bottom: 15px !important;
}
.galery-ctn .trickslist-nav,
.galery-ctn .mytracker-nav,
.trickslist-ctn .trickslist-nav,
.trickslist-ctn .mytracker-nav,
.form-ctn .trickslist-nav,
.form-ctn .mytracker-nav,
.mytracker-ctn .trickslist-nav,
.mytracker-ctn .mytracker-nav,
.legal-ctn .trickslist-nav,
.legal-ctn .mytracker-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 30;
}
.galery-ctn .trickslist-nav button,
.galery-ctn .mytracker-nav button,
.trickslist-ctn .trickslist-nav button,
.trickslist-ctn .mytracker-nav button,
.form-ctn .trickslist-nav button,
.form-ctn .mytracker-nav button,
.mytracker-ctn .trickslist-nav button,
.mytracker-ctn .mytracker-nav button,
.legal-ctn .trickslist-nav button,
.legal-ctn .mytracker-nav button {
  width: 200px;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(50deg, rgb(5, 5, 5), rgba(255, 255, 255, 0) 90.71%), linear-gradient(200deg, rgb(5, 5, 5), rgba(0, 255, 0, 0) 30.71%), linear-gradient(127deg, rgb(5, 5, 5), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgb(5, 5, 5), rgba(0, 0, 255, 0) 95.71%);
  color: rgb(240, 240, 240);
  cursor: pointer;
}
.galery-ctn .trickslist-nav .addVideo-tab,
.galery-ctn .mytracker-nav .addVideo-tab,
.trickslist-ctn .trickslist-nav .addVideo-tab,
.trickslist-ctn .mytracker-nav .addVideo-tab,
.form-ctn .trickslist-nav .addVideo-tab,
.form-ctn .mytracker-nav .addVideo-tab,
.mytracker-ctn .trickslist-nav .addVideo-tab,
.mytracker-ctn .mytracker-nav .addVideo-tab,
.legal-ctn .trickslist-nav .addVideo-tab,
.legal-ctn .mytracker-nav .addVideo-tab {
  background: linear-gradient(50deg, rgb(245, 205, 115), rgba(255, 255, 255, 0) 90.71%), linear-gradient(200deg, rgb(245, 205, 115), rgba(0, 255, 0, 0) 30.71%), linear-gradient(127deg, rgb(245, 205, 115), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgb(245, 205, 115), rgba(0, 0, 255, 0) 95.71%);
  color: rgb(43, 11, 50);
}
.galery-ctn .mytracker-nav button,
.trickslist-ctn .mytracker-nav button,
.form-ctn .mytracker-nav button,
.mytracker-ctn .mytracker-nav button,
.legal-ctn .mytracker-nav button {
  width: 75px;
}
.galery-ctn .trickslist-list,
.galery-ctn .mytracker,
.galery-ctn .mytrickslist-ctn,
.trickslist-ctn .trickslist-list,
.trickslist-ctn .mytracker,
.trickslist-ctn .mytrickslist-ctn,
.form-ctn .trickslist-list,
.form-ctn .mytracker,
.form-ctn .mytrickslist-ctn,
.mytracker-ctn .trickslist-list,
.mytracker-ctn .mytracker,
.mytracker-ctn .mytrickslist-ctn,
.legal-ctn .trickslist-list,
.legal-ctn .mytracker,
.legal-ctn .mytrickslist-ctn {
  width: 100%;
  margin-top: 25px;
}
.galery-ctn .trickslist-list h3,
.galery-ctn .mytracker h3,
.galery-ctn .mytrickslist-ctn h3,
.trickslist-ctn .trickslist-list h3,
.trickslist-ctn .mytracker h3,
.trickslist-ctn .mytrickslist-ctn h3,
.form-ctn .trickslist-list h3,
.form-ctn .mytracker h3,
.form-ctn .mytrickslist-ctn h3,
.mytracker-ctn .trickslist-list h3,
.mytracker-ctn .mytracker h3,
.mytracker-ctn .mytrickslist-ctn h3,
.legal-ctn .trickslist-list h3,
.legal-ctn .mytracker h3,
.legal-ctn .mytrickslist-ctn h3 {
  text-align: left;
  margin: 15px 0 15px 25px;
}
.galery-ctn .trickslist-list .list,
.galery-ctn .mytracker .list,
.galery-ctn .mytrickslist-ctn .list,
.trickslist-ctn .trickslist-list .list,
.trickslist-ctn .mytracker .list,
.trickslist-ctn .mytrickslist-ctn .list,
.form-ctn .trickslist-list .list,
.form-ctn .mytracker .list,
.form-ctn .mytrickslist-ctn .list,
.mytracker-ctn .trickslist-list .list,
.mytracker-ctn .mytracker .list,
.mytracker-ctn .mytrickslist-ctn .list,
.legal-ctn .trickslist-list .list,
.legal-ctn .mytracker .list,
.legal-ctn .mytrickslist-ctn .list {
  margin: 0 0 15px 25px;
}
.galery-ctn .mytracker,
.trickslist-ctn .mytracker,
.form-ctn .mytracker,
.mytracker-ctn .mytracker,
.legal-ctn .mytracker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.galery-ctn .myinformations,
.trickslist-ctn .myinformations,
.form-ctn .myinformations,
.mytracker-ctn .myinformations,
.legal-ctn .myinformations {
  position: relative;
  width: 340px;
  height: 220px;
  background: linear-gradient(50deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 90.71%), linear-gradient(200deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 30.71%), linear-gradient(127deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 70.71%), linear-gradient(336deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 95.71%);
  color: rgb(245, 205, 115);
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgb(5, 5, 5);
}
.galery-ctn .myinformations-update,
.trickslist-ctn .myinformations-update,
.form-ctn .myinformations-update,
.mytracker-ctn .myinformations-update,
.legal-ctn .myinformations-update {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 25px;
}
.galery-ctn .myinformations p,
.galery-ctn .myinformations button,
.trickslist-ctn .myinformations p,
.trickslist-ctn .myinformations button,
.form-ctn .myinformations p,
.form-ctn .myinformations button,
.mytracker-ctn .myinformations p,
.mytracker-ctn .myinformations button,
.legal-ctn .myinformations p,
.legal-ctn .myinformations button {
  position: absolute;
}
.galery-ctn .myinformations .non-absolute,
.trickslist-ctn .myinformations .non-absolute,
.form-ctn .myinformations .non-absolute,
.mytracker-ctn .myinformations .non-absolute,
.legal-ctn .myinformations .non-absolute {
  position: static;
  margin-bottom: 25px;
}
.galery-ctn .myinformations-bio,
.trickslist-ctn .myinformations-bio,
.form-ctn .myinformations-bio,
.mytracker-ctn .myinformations-bio,
.legal-ctn .myinformations-bio {
  width: 300px;
  margin-bottom: 25px;
}
.galery-ctn .myinformations-pseudo,
.galery-ctn .myinformations-motDePasse,
.trickslist-ctn .myinformations-pseudo,
.trickslist-ctn .myinformations-motDePasse,
.form-ctn .myinformations-pseudo,
.form-ctn .myinformations-motDePasse,
.mytracker-ctn .myinformations-pseudo,
.mytracker-ctn .myinformations-motDePasse,
.legal-ctn .myinformations-pseudo,
.legal-ctn .myinformations-motDePasse {
  left: 25px;
  bottom: 50px;
}
.galery-ctn .myinformations-email,
.trickslist-ctn .myinformations-email,
.form-ctn .myinformations-email,
.mytracker-ctn .myinformations-email,
.legal-ctn .myinformations-email {
  left: 25px;
  bottom: 25px;
}
.galery-ctn .myinformations-trickstrack,
.trickslist-ctn .myinformations-trickstrack,
.form-ctn .myinformations-trickstrack,
.mytracker-ctn .myinformations-trickstrack,
.legal-ctn .myinformations-trickstrack {
  left: 25px;
  top: 50%;
  font-family: "Kiona";
}
.galery-ctn .myinformations-btn,
.trickslist-ctn .myinformations-btn,
.form-ctn .myinformations-btn,
.mytracker-ctn .myinformations-btn,
.legal-ctn .myinformations-btn {
  right: 30px;
  top: 30px;
  background: radial-gradient(circle, rgb(245, 205, 115), rgb(168, 115, 0));
  padding: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 3px rgb(245, 205, 115);
}
.galery-ctn .myinformations-btn .icon,
.trickslist-ctn .myinformations-btn .icon,
.form-ctn .myinformations-btn .icon,
.mytracker-ctn .myinformations-btn .icon,
.legal-ctn .myinformations-btn .icon {
  color: rgb(43, 11, 50);
}
.galery-ctn .dangerZone,
.trickslist-ctn .dangerZone,
.form-ctn .dangerZone,
.mytracker-ctn .dangerZone,
.legal-ctn .dangerZone {
  right: auto;
  top: auto;
  left: 30px;
  bottom: 30px;
  background: radial-gradient(circle, rgb(255, 129, 129), rgb(199, 18, 18));
  box-shadow: 0px 0px 3px rgb(255, 129, 129);
  border: none;
}
.galery-ctn .trickslist-list,
.galery-ctn .mytrickslist-ctn,
.trickslist-ctn .trickslist-list,
.trickslist-ctn .mytrickslist-ctn,
.form-ctn .trickslist-list,
.form-ctn .mytrickslist-ctn,
.mytracker-ctn .trickslist-list,
.mytracker-ctn .mytrickslist-ctn,
.legal-ctn .trickslist-list,
.legal-ctn .mytrickslist-ctn {
  background-image: url("../Assets/Images/TexturePapier.jpg");
  background-size: 1000px 1000px;
  background-repeat: repeat;
  background-position: -135px 0;
  padding: 15px;
}
.galery-ctn form label,
.trickslist-ctn form label,
.form-ctn form label,
.mytracker-ctn form label,
.legal-ctn form label {
  margin-bottom: 10px;
}
.galery-ctn form input,
.galery-ctn form textarea,
.galery-ctn form select,
.trickslist-ctn form input,
.trickslist-ctn form textarea,
.trickslist-ctn form select,
.form-ctn form input,
.form-ctn form textarea,
.form-ctn form select,
.mytracker-ctn form input,
.mytracker-ctn form textarea,
.mytracker-ctn form select,
.legal-ctn form input,
.legal-ctn form textarea,
.legal-ctn form select {
  width: 300px;
  background-image: url("../Assets/Images/TextureBeton.jpg");
  background-size: cover;
  color: rgb(43, 11, 50);
  padding: 15px;
  margin-bottom: 25px;
  letter-spacing: 3px;
  font-size: 10px;
  border-radius: 30px;
  border: 1px solid rgb(43, 11, 50);
  box-shadow: inset 0px 0px 5px rgb(135, 145, 141);
}
.galery-ctn form textarea,
.trickslist-ctn form textarea,
.form-ctn form textarea,
.mytracker-ctn form textarea,
.legal-ctn form textarea {
  height: 90px;
}
.galery-ctn form select,
.trickslist-ctn form select,
.form-ctn form select,
.mytracker-ctn form select,
.legal-ctn form select {
  font-size: 12px;
  text-align: center;
}
.galery-ctn form select option,
.trickslist-ctn form select option,
.form-ctn form select option,
.mytracker-ctn form select option,
.legal-ctn form select option {
  font-size: 12px;
}

.addVideo-form {
  width: 100%;
  padding: 25px;
  border-radius: 15px;
  background: linear-gradient(50deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 90.71%), linear-gradient(200deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 30.71%), linear-gradient(127deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 70.71%), linear-gradient(336deg, rgb(43, 11, 50), rgba(255, 255, 255, 0) 95.71%);
  color: rgb(245, 205, 115);
}
.addVideo-form .advise {
  font-style: italic;
  margin: 10px 0 40px 0 !important;
}
.addVideo-form input {
  width: 90% !important;
}
.addVideo-form button {
  background: radial-gradient(circle, rgb(245, 205, 115), rgb(168, 115, 0));
  right: 30px;
  top: 30px;
  padding: 0;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 3px rgb(245, 205, 115);
}
.addVideo-form button .icon {
  color: rgb(43, 11, 50);
}
.addVideo-form button a {
  line-height: 35px;
}

.uploadsucceded {
  height: 500px;
  padding-top: 250px;
}
.uploadsucceded .uploadsucceded-title {
  text-align: center;
  margin-bottom: 50px;
}

/* POPUP Commentaires */
.popup-ctn {
  position: relative;
  width: 300px;
  color: rgb(240, 240, 240);
}

.popup-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  padding: 0;
  background: none;
  border: none;
  color: rgb(240, 240, 240);
}

.popup-btn:hover {
  color: rgb(240, 240, 240);
}

.popup-commentaires {
  margin-top: 25px;
}

.comment-user {
  font-family: "Kiona";
  margin-bottom: 7px;
  color: rgb(245, 205, 115);
}

.comment {
  margin-bottom: 10px;
}

.truncated-btn {
  width: auto;
  padding: 0;
  background: none;
  border: none;
  color: rgb(245, 205, 115);
}

.truncated-btn:hover {
  background: none;
  border: none;
  color: rgb(43, 11, 50);
}

.endline {
  background-color: rgb(245, 205, 115);
  width: 250px;
  height: 2px;
  margin: 30px auto 0 auto;
}

body.no-scroll {
  overflow: hidden;
}

.focus {
  position: relative;
  width: 100%;
  text-align: left !important;
  margin-bottom: 25px;
  padding-left: 50px;
}
.focus span {
  position: absolute;
  top: -25px;
  left: 0;
  font-size: 12px;
  font-weight: bolder;
  padding: 4px 6px;
  color: rgb(245, 205, 115);
  background-color: rgb(43, 11, 50);
}/*# sourceMappingURL=App.css.map */