$Black: rgb(5, 5, 5);
$White: rgb(240, 240, 240);
$Grey: rgb(186, 201, 195);
$GreyDarker: rgb(135, 145, 141);
$PurpleGrey: rgb(117, 101, 124);
$PurpleDarker: rgb(43, 11, 50);
$PurpleGradientBkg : linear-gradient(50deg, $PurpleDarker, rgba(255, 255, 255, 0) 90.71%),
linear-gradient(200deg, $PurpleDarker, rgba(0, 255, 0, 0) 30.71%),
linear-gradient(127deg, $PurpleDarker, rgba(0, 255, 0, 0) 70.71%),
linear-gradient(336deg, $PurpleDarker, rgba(0, 0, 255, 0) 95.71%);
$Gold: rgb(245, 205, 115);
$Fire: rgb(255, 94, 0);
$Red: rgb(199, 18, 18);
$Green: rgb(3, 149, 8);
$Darked: rgba(15, 15, 15, 0.5);
$DarkedLight: rgba(15, 15, 15, 0.2);
$title-font: "Kiona";
$text-font: "Rounded_Elegance";

@font-face {
  font-family: "Kiona";
  src: url("../Assets/Font/Kiona-Regular.ttf");
}

@font-face {
  font-family: "Rounded_Elegance";
  src: url("../Assets/Font/Rounded_Elegance.ttf");
}

/* GENERALES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  font-family: $text-font;
  font-size: 16px;
  background-image: url("../Assets/Images/TextureBeton.jpg");
  background-size: 100%;
  color: $Black;
}

main {
  min-height: 60vh; // pour que le footer soit toujours en bas de page même sur les page avec peu de contenu
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kiona";
}

.msg {
  text-align: center;
  margin-bottom: 25px;
}

.advise {
  text-align: center;
}

.advise_top {
  margin-top: 25px;
}

.red {
  color: $Red !important;
}

.green {
  color: $Green !important;
}

.purple {
  color: $PurpleDarker !important;
}

.overline {
  background: radial-gradient(circle, $White, $Grey);
  padding: 0 5px;
}

.hidden {
  display: none;
}

/* HOME */

.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  justify-content: center
    /* espacement des éléments texte pour simuler un space evenly mais que le texte du haut descende */
  ;
}

.home-image {
  width: 300px;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -40%);
  transform-origin: 200px 100px;
  z-index: 1;
}

.home-title {
  color: $White;
  font-size: 40px;
  text-align: center;
  margin: 50px 0 150px 0
    /* espacement des éléments texte pour simuler un space evenly mais que le texte du haut descende */
  ;
  background: radial-gradient(circle, $PurpleGrey, $PurpleDarker);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 20;
}

.home-text {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 25;
  font-family: "Kiona";
}

.sentence {
  font-size: 20px;
  margin-top: 100px
    /* espacement des éléments texte pour simuler un space evenly mais que le texte du haut descende */
  ;
}

.home-button {
  width: 200px;
  margin: 0 auto;
  padding: 15px 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: none;
  border-radius: 30px;
  color: $White;
  background: $PurpleGradientBkg;
}

.home-button:hover {
  background: $PurpleDarker;
}


.button_ctn,
button {
  text-decoration: none;
  width: 200px;
  margin: auto;
  padding: 15px 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 10px;
  border: none;
  border-radius: 30px;
  color: $White;
  cursor: pointer;

  a {
    color: $White !important;
  }
}

.logs-login,
.update,
button {
  background: $PurpleGradientBkg;
  border: 1px solid $PurpleDarker;
}

.update {
  //boutton myinformations
  width: 150px;
  margin: 0 auto !important;
}

.logs-profil {
  background: $PurpleGradientBkg;
  margin-bottom: 25px;
}

.logs-logout {
  background: none;
  border: 1px solid $White;

  a {
    color: $PurpleDarker !important;
  }
}


.logs-login:hover,
.logs-profil:hover,
button:hover {
  background: $PurpleDarker;
  border: 1px solid $PurpleDarker;
}

.logs-logout:hover {
  border: 1px solid $PurpleGrey;
}

/* HOC */

header {
  width: 100%;
  height: 75px;
  margin-bottom: 25px;

  .header-ctn {
    width: 100%;
    position: relative;

    .logo-div {
      position: absolute;
      display: flex;
      justify-content: center;
      left: 0;
      right: 0;
      z-index: 10;

      .header-img {
        width: 75px;
        margin-top: 5px;
      }
    }

    .menu-name-title {
      font-size: 20px;
      margin: 0 25px;
    }

    .faBars,
    .faXmark {
      height: 20px;
      cursor: pointer;
    }

    .nav-ctn {
      position: fixed;
      display: flex;
      flex-direction: column;
      z-index: 20;

      .menu-ctn-closed,
      .menu-ctn-open {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 35px 25px 25px;
        z-index: 20;
      }

      .menu-ctn-open {
        background-color: $White;
      }

      nav {
        width: 100vw;
        height: 90vh; 
        padding: 25px;
        background-color: $White;

        .links {
          display: flex;
          flex-direction: column;

          .special-Navlink {
            position: relative;

            span {
              position: absolute;
              bottom: -20px;
              left: 50%;
              font-size: 12px;
              font-weight: bolder;
              padding: 3px 6px;
              color: $White;
              background-color: $Fire;
            }
          }
        }

        div,
        a {
          font-family: "Kiona";
          text-align: center;
          margin-bottom: 25px;
          color: $Black;
        }
      }

      .burger_hidden {
        display: none;
      }

      .mediaQ_show-laptop_desktop {
        display: none;
      }

      .mediaQ_show-mobile_tablet {
        display: block;
      }
    }
  }
}

footer {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: flex-end; // pour coller les éléments à droite

  a {
    margin: 0 25px;
  }
}

/* Galeries (pages publiques) -- MyTracker (compte utilisateur) */

.galery-ctn,
.trickslist-ctn,
.form-ctn,
.mytracker-ctn,
.legal-ctn {
  width: 80%;
  margin: 0 auto 25px auto;

  .galery-title,
  .trickslist-title,
  .form-title,
  .mytracker-title,
  .legal-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
  }

  .legal-titleb {
    margin: 25px 0 15px 0;
  }

  .galery,
  .mytracker-galery,
  form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .galery div,
  .mytracker-galery div {
    width: 100%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 5px $GreyDarker;
  }

  .galery figure,
  .mytracker figure {
    background: $PurpleGradientBkg;
    background-size: cover;

    figcaption {

      padding: 15px;

      p {
        text-align: center;
        margin: 10px auto;
        color: $Gold;
      }

      button {
        width: 100px; // contre la width du button général
        padding: 0;
        font-size: 16px;
        display: block;
        color: $Fire;
        background: none;
        border: none;
        cursor: pointer;
        margin-bottom: 20px;
      }
    }
  }

  .galery_end {
    text-align: center;
    line-height: 30px;
    margin: 5px 0;
  }

  .galery-video,
  .myvideo {
    width: 100%;
    height: auto;
    max-height: 550px;
    background-color: $Black;
  }

  .video-comment {
    width: 100%;
    padding-top: 25px;

    input {
      width: 85%;
    }
  }

  .trickslist-nav,
  .mytracker-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 30;

    button {
      width: 200px;
      margin: 5px;
      padding: 10px 20px;
      border: none;
      border-radius: 30px;
      background: linear-gradient(50deg, $Black, rgba(255, 255, 255, 0) 90.71%),
        linear-gradient(200deg, $Black, rgba(0, 255, 0, 0) 30.71%),
        linear-gradient(127deg, $Black, rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, $Black, rgba(0, 0, 255, 0) 95.71%);
      color: $White;
      cursor: pointer;
    }

    .addVideo-tab {
      background: linear-gradient(50deg, $Gold, rgba(255, 255, 255, 0) 90.71%),
        linear-gradient(200deg, $Gold, rgba(0, 255, 0, 0) 30.71%),
        linear-gradient(127deg, $Gold, rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, $Gold, rgba(0, 0, 255, 0) 95.71%);
      color: $PurpleDarker;
    }
  }


  .mytracker-nav {
    button {
      width: 75px;
    }
  }

  .trickslist-list,
  .mytracker,
  .mytrickslist-ctn {
    width: 100%;
    margin-top: 25px;

    h3 {
      text-align: left;
      margin: 15px 0 15px 25px;
    }

    .list {
      margin: 0 0 15px 25px;
    }
  }

  .mytracker {
    // compte utilisateur
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .myinformations {
    position: relative;
    width: 340px;
    height: 220px; // format carte cb
    background: $PurpleGradientBkg;
    color: $Gold;
    border-radius: 15px;
    box-shadow: 0px 0px 15px $Black;
  }

  .myinformations p {
    position: absolute;
  }

  .myinformations-pseudo {
    left: 25px;
    bottom: 50px;
  }

  .myinformations-email {
    left: 25px;
    bottom: 25px;
  }

  .myinformations-trickstrack {
    left: 25px;
    top: 50%;
    font-family: $title-font;
  }

  .myinformations-btn {
    background: radial-gradient(circle, $Gold, rgb(168, 115, 0));
    right: 30px;
    top: 30px;
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 3px $Gold;

    .icon {
      color: $PurpleDarker;
    }

    a {
      line-height: 35px;
    }
  }

  .trickslist-list,
  .mytrickslist-ctn {
    // compte utilisateur
    background-image: url("../Assets/Images/TexturePapier.jpg");
    background-size: 1000px 1000px;
    background-repeat: repeat;
    background-position: -135px 0;
    padding: 15px;
  }

  form {
    label {
      margin-bottom: 10px;
    }

    input {
      width: 300px;
      background-image: url("../Assets/Images/TextureBeton.jpg");
      background-size: cover;
      color: $PurpleDarker;
      padding: 15px;
      margin-bottom: 25px;
      letter-spacing: 3px;
      font-size: 10px;
      border-radius: 30px;
      border: 1px solid $PurpleDarker;
      box-shadow: inset 0px 0px 5px $GreyDarker;
    }
  }
}

.addVideo-form {
  width: 100%;
  padding: 25px;
  border-radius: 15px;
  background: $PurpleGradientBkg;
  color: $Gold;

  .advise {
    font-style: italic;
    margin: 10px 0 40px 0 !important;
  }

  input {
    width: 90%;
  }

  button {
    background: radial-gradient(circle, $Gold, rgb(168, 115, 0));
    right: 30px;
    top: 30px;
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 3px $Gold;

    .icon {
      color: $PurpleDarker;
    }

    a {
      line-height: 35px;
    }
  }
}

.uploadsucceded {
  height: 500px;
  padding-top: 250px;

  .uploadsucceded-title {
    text-align: center;
    margin-bottom: 50px;
  }
}


// --------------Mode dev-----------

.a_venir {
  position: relative;
  width: 100%;
  text-align: left !important;
  margin-bottom: 25px;
  padding-left: 50px;

  span {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 12px;
    font-weight: bolder;
    padding: 4px 6px;
    color: $Gold;
    background-color: $PurpleDarker;
  }
}